.cabecalho{
    background-color: black;
    color:rgb(31, 31, 3);
    text-align: center;
    margin:0 auto;
    max-width: 500px;
    padding: 16px;
}

.principal{~;
    background-color: rgb(255, 0, 21);
    color:black;
}
.principal-imagem{
/*Dimensões da imagem: largura e altura 100 pixels*/
    width: 100px;
    height: 100px;

}